<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipped_suite_api>
            <api>
                <environment>Staging</environment>
            </api>
        </shipped_suite_api>
        <shipped_suite_widget>
            <widget>
                <widget_display>0</widget_display>
                <shield>1</shield>
                <green>0</green>
                <default>1</default>
                <appearance>auto</appearance>
                <mandatory>0</mandatory>
                <informational>0</informational>
            </widget>
        </shipped_suite_widget>
        <shipped_suite_backend>
            <backend>
                <order_sync>1</order_sync>
                <shipment_sync>1</shipment_sync>
                <reversal_sync>1</reversal_sync>
            </backend>
        </shipped_suite_backend>
    </default>
</config>
