<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shipped_suite" translate="label" sortOrder="10">
            <label>Shipped Suite</label>
        </tab>
        <section id="shipped_suite_api" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>API Configuration</label>
            <tab>shipped_suite</tab>
            <resource>InvisibleCommerce_ShippedSuite::config</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>API Configuration</label>
                <field id="environment" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>InvisibleCommerce\ShippedSuite\Model\Adminhtml\System\Config\Source\Environment</source_model>
                    <label>Environment</label>
                    <comment>There are 2 separate environments, "staging" and "production". Perform all development against the "staging" environment, do not send any production/sensitive data to it.</comment>
                    <tooltip>Go to https://api-docs.shippedsuite.com/docs/environments for more info on environments.</tooltip>
                </field>
                <field id="public_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public Key</label>
                    <comment>Enter your generated Public Key here. Do not enter the SECRET key here.</comment>
                    <tooltip>Go to https://api-docs.shippedsuite.com/docs for more info on generating API keys.</tooltip>
                </field>
                <field id="secret_key" translate="label" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key</label>
                    <comment>Enter your generated Secret key here.</comment>
                    <tooltip>Go to https://api-docs.shippedsuite.com/docs for more info on generating API keys.</tooltip>
                </field>
                <field id="webhook_secret" translate="label" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Webhook Secret</label>
                    <comment>Enter your generated Webhook Secret here.</comment>
                    <tooltip>Go to https://api-docs.shippedsuite.com/docs for more info on webhooks.</tooltip>
                </field>
            </group>
        </section>
        <section id="shipped_suite_widget" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Widget Configuration</label>
            <tab>shipped_suite</tab>
            <resource>InvisibleCommerce_ShippedSuite::config</resource>
            <group id="widget" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Widget Configuration</label>
                <field id="widget_display" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Widget Display</label>
                    <comment>To enable or disable the visibility of the Shipped widget.</comment>
                </field>
                <field id="shield" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Shipped Shield</label>
                    <comment>To enable or disable Shipped Shield package assurance.</comment>
                </field>
                <field id="green" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Shipped Green</label>
                    <comment>To enable or disable Shipped Green carbon-neutral shipments.</comment>
                </field>
                <field id="appearance" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>InvisibleCommerce\ShippedSuite\Model\Adminhtml\System\Config\Source\Appearance</source_model>
                    <label>Widget Appearance</label>
                    <comment>Change widget appearance based on light/dark theme.</comment>
                    <tooltip>Setting it as "auto" will detect if it's a light or dark theme and show the appropriate widget appearance.</tooltip>
                </field>
                <field id="default" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Default State</label>
                    <comment>Recommended setting is "Enable" where Shipped Shield/Green is automatically added to the orders.</comment>
                    <tooltip>Selecting "Disable" will require the customer to manually add Shipped Shield/Green to the order.</tooltip>
                </field>
                <field id="mandatory" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Mandatory</label>
                    <comment>Select "Enable" if customers are required to add Shipped Shield/Green; they will not be able to remove Shipped Shield/Green from their orders.</comment>
                </field>
                <field id="informational" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Informational Only</label>
                    <comment>For merchant paid option, select “Enable” to only show information about Shipped; customers will not be able to add or remove Shipped from their orders. </comment>
                    <tooltip>If you only want to pay for Shipped when a customer has declined the offer, keep this set as "Disable".</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
